{{#each pokemons as |pokemon|}}
  <!-- {{log pokemon}} -->
  <section data-id="{{pokemon.id}}" style="margin: 10px;">
    <p>
      {{#if pokemon.img}}
        <img src = "{{pokemon.img}}"img/>
      {{else}}
        {{pokemon.name}}
      {{/if}}
    </p>
    <div class="pokemon-listing-button text-center">
      <button class="btn btn-danger delete-button" data-id="{{pokemon.id}}">Delete</button>
      <button class="btn btn-warning update-button" data-toggle="modal" data-target="#updatePokemonModal" data-id="{{pokemon.id}}">Update</button>
    </div>
    <!-- {{> partial}} -->
  </section>

{{/each}}
